<!-- forms.html -->
{{if .Success}}
<h1>Thanks for your message!</h1>
{{else if .Report}}
{{range .Response.Reports}}
<h1>{{.Name}}</h1><br />
<ul>
    {{range .Transactions}}
    <li>{{.Time}} {{.Value}} {{.Memo}}</li>
    {{end}}
</ul>
<h3>Sum for {{.Name}} is ${{.Sum}}</h3>
{{end}}
{{else}}
<h1>Split</h1>
<form method="POST">
    <label>Nate</label>
    <input type="text" name="natevalue"><br />
    <label>Simran</label>
    <input type="text" name="simvalue"><br />
    <label>Sunjana</label>
    <input type="text" name="sunvalue"><br />

    <label>Total</label>
    <input type="text" name="total"><br />

    <label>Memo:</label>
    <input type="text" name="memo"><br />
    <input type="submit">
</form>
{{end}}